<tr>
      <th scope="row">#<%= food.id %></th>
      <td><%= food.name %></td>
      <% if details %>
      <td><%= food.quantity%></td>
      <% else %>
      <td><%= food.measurement_unit%></td>
      <% end %>
      <td><%= food.price %></td>
      <td>
      <%= link_to "Delete", food_path(food.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_confirm: "Are you sure?" },class:"btn btn-danger" %>
      </td>
      <% if details %>
      <td><%= link_to "Modify" %></td>
      <% end %>
</tr>
